.input {
  width: 50px;
  float: left;
}
.coluna {
  width: 40px;
}
th {
  width: 10px;
}
.inputAdj {
  width: 300px;
}

#defaultCanvas0 {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  margin-bottom: 20px;
}
#text {
  display: inline;
  margin-left: 10px;
}
